.card{
    width:300px;

}

.addToCartBtn{
    width:180px;
    height:45px;
    border-radius: 30px;
    background:#2251CF;
    color:#fff;
    cursor:pointer;
}
.startIcon{
    color:#FEBC0C;

}
.featureItem ul li{
    margin-left:15px;
}
@media only screen and (max-width:768px){
    .card{
        width:340px;
        height:350px;
    }
    .addToCartBtn {
        width: 120px;}
}

@media only screen and (max-width:500px){
    .card{
        width:100%;
    }
}